/*resetea estilo*/
*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: "titulos";
    src: url(../fuentes/ice_cream_2\ titulos/.otf);
    font-family: "texto";
    src: url(../fuentes/espect_retro/EspectRetro_PERSONAL_USE_ONLY.otf);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgba(8, 8, 8, 0.61);
}
.logo-corazon1-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: logo1;
}
.logo-corazon2-right{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    grid-area: logo2;
}
.titulo{
    font-size: 26px;
    font-family: "titulos";
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: titulo;
}
.columna-de-navegacion{
    font-family: "texto";
    font-weight: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: navegacion;
    border: solid 2px;
    
}
nav{
    background-color: rgba(252, 128, 83, 0.753);
    display: grid;
    grid-template-areas: 
    "logo1 titulo logo2"
    "navegacion navegacion navegacion"
    ;
    grid-template-rows: 50px 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.cuerpo{
    font-family: "texto";
    font-size: x-large;
    background-color: rgba(138, 170, 74, 0.719);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.foto-inicial-izquierda img{
    width: 200px;
    height: 200px;
    border: 3px solid;
}
.foto-inicial-derecha img{
    width: 200px;
    height: 200px;
    border: 3px solid;

}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(197, 120, 236, 0.76);
}
footer img{
    width: 100px;
}
.contacto{
    background-color: rgba(138, 170, 74, 0.719);
}
.h1{
    display: flex;
    justify-content: center;
}
@media (min-width: 900px) and (max-width: 1440px){    
    nav {
        grid-template-areas: 
        "logo1 titulo logo2";
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: space-between;
        }
    .titulo{
        font-size: 50px;
    }
    .logo-corazon1-left{
        width: 100px;
        height: 100px;
    }
    .logo-corazon2-right{
        width: 100px;
        height: 100px;
    }
    .columna-de-navegacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        font-size: large;
    }
    .columna-de-navegacion :hover{
        background-color: aqua;
    }
    
    .cuerpo{
        display: grid;
        grid-template-areas:"historia bienvenidos fotoizquierda fotoderecha";
        justify-content: space-between;
    }
    .Bienvenidos{
        grid-area: bienvenidos;
        display: flex;
        justify-content: center;
    }
    .historia{
        grid-area: historia;
        justify-content: flex-start;
        border: solid 1px;
        background-color: aliceblue;
        width: 200px; 
        margin: 0%;   
        padding: 0%;
    }

    .foto-inicial-izquierda{
        display: flex;
        flex-direction: column;
        grid-area: fotoizquierda;
    }
    .foto-inicial-derecha{
        display: flex;
        flex-direction: column;
        grid-area: fotoderecha;
    }
    .pie{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        gap: 50px;
    }
}
