/*resetea estilo*/
*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: "titulos";
    src: url(../fuentes/ice_cream_2\ titulos/.otf);
    font-family: "texto";
    src: url(../fuentes/espect_retro/EspectRetro_PERSONAL_USE_ONLY.otf);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgba(8, 8, 8, 0.61);
}
.logo-corazon1-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: logo1;
}
.logo-corazon2-right{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    grid-area: logo2;
}
.titulo{
    font-size: 26px;
    font-family: "titulos";
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: titulo;
}
.columna-de-navegacion{
    font-family: "texto";
    font-weight: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: navegacion;
    border: solid 2px;
    
}
nav{
    background-color: rgba(252, 128, 83, 0.753);
    display: grid;
    grid-template-areas: 
    "logo1 titulo logo2"
    "navegacion navegacion navegacion";
    grid-template-rows: 50px 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.cuerpo{
    font-family: "texto";
    font-size: x-large;
    background-color: rgba(138, 170, 74, 0.719);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.foto-inicial-izquierda img{
    width: 200px;
    height: 200px;
    border: 3px solid;
}
.foto-inicial-derecha img{
    width: 200px;
    height: 200px;
    border: 3px solid;

}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(197, 120, 236, 0.76);
}
footer img{
    width: 100px;
}
.contacto{
    background-color: rgba(138, 170, 74, 0.719);
}
.eventos{
    background-color: rgba(138, 170, 74, 0.719);
}
.tituloeventos{
    font-size: 50px;
    font-family: "titulos";
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.seccion-productos{
    background-color: rgba(138, 170, 74, 0.719);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat (4, 1fr);
    grid-template-areas: 
    "titupro titupro titupro titupro"
    "tituheb tituheb tituheb tituheb"
    "liste liste liste liste"
    "textpro textpro textpro textpro";
    gap: 10px;
    justify-content: space-around;
    justify-content: space-between;
    gap: 10px;

    .imghebras{
        width: 100%;
    }
    .titulo-productos{
        grid-area: titupro;
        font-family:"titulos";
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .titulo-hebras{
        grid-area: tituheb;
        font-family:"titulos";
        text-align: center;

    }
    .lista-de-té{
        grid-area: liste;
        font-family: "texto";
        list-style: circle;

    }
    .textpro{
        grid-area: textpro;
        font-family: "texto";

    }
}

@media (min-width: 900px) and (max-width: 1440px){    
    nav {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "logo1 titulo logo2"
        "navegacion navegacion navegacion";
        background: rgb(63,94,251);
        background: linear-gradient(139deg, rgb(251, 148, 63) 0%, rgb(202, 194, 194) 100%);
        }
    .titulo{
        font-size: 55px;
        justify-self: center;
    }
    .logo-corazon1-left{
        width: 100px;
        height: 100px;
        justify-self: flex-start;
    }
    .logo-corazon2-right{
        width: 100px;
        height: 100px;
        justify-self: flex-end;
    }
    .columna-de-navegacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        font-size: large;
        grid-area: navegacion;
        justify-self: flex-end;
    }
    .columna-de-navegacion :hover{
        background-color: aqua;
    }
    .h1{
        display: flex;
        justify-content: center;
    }
    
    .cuerpo{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "bienvenidos bienvenidos bienvenidos bienvenidos"
        "historia fotoizquierda fotoderecha mapa"
        "historia fotoizquierda fotoderecha mapa";
        justify-content: space-between;
        gap: 90px;
        background: radial-gradient(circle, rgba(138, 170, 74, 0.719), white);
    }
    .Bienvenidos{
        grid-area: bienvenidos;
        display: flex;
        justify-content: center;
        font-size: 50px;
    }
    .historia{
        grid-area: historia;
        border: solid 1px;
        background-color: aliceblue;
        height: 400px;
        width: 400px;
    }

    .foto-inicial-izquierda{
        display: flex;
        flex-direction: column;
        grid-area: fotoizquierda;
    }
    .foto-inicial-derecha{
        display: flex;
        flex-direction: column;
        grid-area: fotoderecha;
    }
    .mapa{
        grid-area: mapa;
        transition: all 1.5s;
    }
    .mapa:hover{
        transform: scale(1.2);

    }
    .pie{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        gap: 50px;
        align-items: stretch;
        background: rgb(63,94,251);
        background: linear-gradient(306deg, rgb(207, 63, 251) 0%, rgba(0,0,0,0.37298669467787116) 100%);
    }
    .eventos{
        background: radial-gradient(circle, rgba(138, 170, 74, 0.719), white);

    }
    .seccion-productos{
        background: radial-gradient(circle, rgba(138, 170, 74, 0.719), white);
        .lista-de-té{
            list-style-type: upper-alpha;

        }
    }
    
}
